{{> layout/header}}

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">당신은 탈모빔을 맞았습니다!</h1>
                            </div>
                            <form class="user">
                            	<div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="userEmail"
                                        placeholder="이메일">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="userPassword" placeholder="비밀번호">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="userPasswordRepeat" placeholder="비밀번호 재입력">
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="userName"
                                            placeholder="이름">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="userNick"
                                            placeholder="닉네임">
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user"
                                            id="userTel1" maxlength="4" placeholder="전화번호 앞자리">
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control form-control-user"
                                            id="userTel2" maxlength="4" placeholder="전화번호 중간자리">
                                    </div>
                                    
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control form-control-user"
                                            id="userTel3" maxlength="4" placeholder="전화번호 뒷자리">
                                    </div>
                                </div>
   
                                <a href="javascript:doSignUp()" class="btn btn-primary btn-user btn-block">
                                    탈모회원 입장!
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">머리카락을 잊어버렸나요?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/user/login">이미 탈모회원인가요? 로그인으로!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
    	function doSignUp(){
    		var email = $('#userEmail').val();
    		var password = $('#userPassword').val()
    		var passwordRepeat = $('#userPasswordRepeat').val();
    		var name = $('#userName').val();
    		var nick = $('#userNick').val();
    		var tel1 = $('#userTel1').val();
    		var tel2 = $('#userTel2').val();
    		var tel3 = $('#userTel3').val();
    		
			if(email == ''){
    			alert('이메일을 입력해주세요!');
    			$('#userEmail').focus();
    			return;
    		}
    		
    		if(password == ''){
    			alert('비밀번호를 입력해주세요!');
    			$('#userPassword').focus();
    			return;
    		}
    		
    		if(passwordRepeat == ''){
    			alert('비밀번호 재입력을 입력해주세요!');
    			$('#userPasswordRepeat').focus();
    			return;
    		}
    		
    		if(name == ''){
    			alert('이름을 입력해주세요!');
    			$('#userName').focus();
    			return;
    		}
    		
    		if(nick == ''){
    			alert('닉네임을 입력해주세요!');
    			$('#userNick').focus();
    			return;
    		}
    			
    		if(tel1 == ''){
    			alert('전화번호 앞자리를 입력해주세요!');
    			$('#userTel1').focus();
    			return;
    		}
    		
    		if(tel2 == ''){
    			alert('전화번호 중간자리를 입력해주세요!');
    			$('#userTel2').focus();
    			return;
    		}
    		
    		if(tel3 == ''){
    			alert('전화번호 뒷자리를 입력해주세요!');
    			$('#userTel3').focus();
    			return;
    		}
    		
    		if(password != passwordRepeat){
    			alert('입력하신 비밀번호와 재입력이 같지 않습니다!');
    			$('userPasswordRepeat').focus();
    			return;
    		}
    		
    		var register = new Object();
    		register.email = email;
    		register.password = password;
    		register.name = name;
    		register.nick = nick;
    		register.tel1 = tel1;
    		register.tel2 = tel2;
    		register.tel3 = tel3;
{{#snsInfo}}
    			register.snsId = '{{snsInfo.snsId}}' || null;
	    		register.snsType = '{{snsInfo.snsType}}' || null;
	    		register.snsEmail = '{{snsInfo.snsEmail}}' || null;
{{/snsInfo}}
 			
    		$.ajax({
    			url: '/user/doRegister',
    			type: 'post',
    			contentType: 'application/json',
    			data: JSON.stringify(register),
    			dataType: 'json',
    			success: function(data){
    				if(data.result == 'success'){
    					alert('회원가입이 완료되었습니다!');
    					//location.href = '/user/login';
    				} else if(data.result == 'duplicate') {
    					alert('이미 가입된 회원입니다!');
    					location.href = '/user/login';
    				}
    			}, error: function(err){
    				alert('에러가 발생하였습니다!');
    			}
    		});	
    	}
    </script>
    
{{> layout/footer}}    
