{{> layout/header}}

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">당신은 탈모빔을 맞았습니다!</h1>
                            </div>
                            <form class="user">
                            	<div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="userEmail"
                                        placeholder="이메일">
                                </div>
                                
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="userPassword" placeholder="비밀번호">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="userPasswordRepeat" placeholder="비밀번호 재입력">
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="userNick"
                                            placeholder="닉네임">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="userName"
                                            placeholder="이름">
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user"
                                            id="userTel1" placeholder="전화번호 앞자리">
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control form-control-user"
                                            id="userTel2" placeholder="전화번호 중간자리">
                                    </div>
                                    
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control form-control-user"
                                            id="userTel3" placeholder="전화번호 뒷자리">
                                    </div>
                                </div>
   
                                <a href="/user/doRegister" class="btn btn-primary btn-user btn-block">
                                    탈모회원 입장!
                                </a>
                                <hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">머리카락을 잊어버렸나요?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="login.html">이미 탈모회원인가요? 로그인으로!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{{> layout/footer}}    
